.popup-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-form form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 577px;
    height: 564px;
  }

  .popup-form .required{
    color: rgb(252, 110, 110);
    font-size: 1.2em;
  }